/*----------For all pages----------*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1366px;
  margin: 0 auto;
  padding: 0px 113px;
}
/*All <p>*/
.paragraph {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
}
/*All <h1>*/
.top_heading {
  font-size: 64px;
  color: #1f3f68;
}
/*all <h2>*/
.contact_heading {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}
/*All <h3>*/
.content_heading {
  font-size: 36px;
  text-align: center;
}
/*All <h4>*/
.mini_heading {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
}
/*Form*/
.input_form {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}
.bottom_form {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
/*Navigation*/
.top_menu {
  display: flex;
  justify-content: space-between;
}
/*Footer*/
footer {
  background: #316099;
}
.footer_top {
  padding-top: 91px;
  padding-bottom: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_top_text_block {
  width: 495px;
}
.footer_heading {
  text-align: left;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding-bottom: 32px;
  font-weight: normal;
}
.footer_text {
  text-align: left;
  width: 340px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
}
.footer_bottom {
  padding-top: 64px;
  padding-bottom: 64px;
}
.footer_menu {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.05em;
  padding-bottom: 64px;
}
.list {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  list-style-type: none;
  flex-grow: 1;
  flex-basis: 33.333%;
  margin-right: 32px;
  display: flex;
}
.list:first-child::before {
  content: "A.";
  display: block;
  margin-right: 19px;
}
.list:nth-child(2)::before {
  content: "T.";
  display: block;
  margin-right: 19px;
}
.list:last-child::before {
  content: "E.";
  display: block;
  margin-right: 19px;
}
.footer_rights {
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}
.footer_top_link {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-decoration: none;
  background: #5a98d0;
  padding: 15px 80px;
}
/*----------For home pages----------*/
.top {
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}
.top_menu {
  padding-top: 42px;
  list-style: none;
}
.top_info {
  padding-top: 115px;
  padding-bottom: 190px;
  flex-grow: 1;
  background-image: url(../img/top_img.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.heading_width {
  width: 510px;
  font-weight: 300;

  line-height: 74px;
  letter-spacing: 0.04em;
}
.text_width {
  width: 425px;
  padding-top: 32px;
  padding-bottom: 71px;
  opacity: 0.6;
  letter-spacing: 0.05em;
}
.top_button {
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 15px 50px;
  text-decoration: none;
}
.what_we_do {
  margin-top: 64px;
}

.wwd_heading {
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
}
.cards {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}
.card {
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  flex-grow: 1;
  text-align: left;
  padding: 15px 32px 45px;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
}
.wwd_card {
  margin-right: 32px;
}
.wwd_image {
  padding-bottom: 50px;
  height: 166px;
  align-self: center;
  align-items: center;
}
.wwd_mini_heading {
  padding-bottom: 14px;
  letter-spacing: 0.05em;
}
.wwd_text {
  padding-bottom: 30px;
  letter-spacing: 0.05em;
  opacity: 0.6;
}
.wwd_link {
  color: #5a98d0;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
}
.card_link {
  margin-right: 25px;
  text-decoration: none;
  color: #5a98d0;
}
.project {
  margin-top: 64px;
}
.project_text {
  text-align: center;
  letter-spacing: 0.05em;
  color: #222222;
  margin-top: 32px;
  margin-bottom: 64px;
  padding: 0px 308px;
}
.project_img {
  width: 100%;
}
.project_item {
  position: relative;
}
.project_text_first {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: absolute;
  top: 64px;
  right: 64px;
}
.finish_parent {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 112px;
  width: 100%;
}
.margin {
  margin-right: 32px;
}
.finish_child {
  position: relative;
  flex-grow: 1;
}
.project_text_second {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: absolute;
  top: 32px;
  left: 32px;
}
/*----------For contacts pages----------*/

.contact_us {
  text-align: center;
}
.content_information_block {
  display: flex;
  justify-content: space-around;
}
